<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>

<h1>Let's play a game!</h1>
<form action="/madlib">
<ul>
    <li>A person's name: <input type="text" name="person"></li>
    <li>A color: 
        <select name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option> </option>
        </select>
    </li>
    <li>
        A noun: <input type="text" name="noun">
    </li>
    <li>Some places: (pick up to 3)
        <label><input type="checkbox" name="places" value="Atlantis"> Atlantis</label><br>
        <label><input type="checkbox" name="places" value="Rabbit's House"> Rabbit's house</label><br>
        <label><input type="checkbox" name="places" value="the top of a magic beanstalk"> The top of a magic beanstalk</label><br>
        <label><input type="checkbox" name="places" value="the Taj Mahal">The Taj Mahal</label><br>
        <label><input type="checkbox" name="places" value="my house">My house</label><br>
        <label><input type="checkbox" name="places" value="the Hackbright student lounge">Hackbright student lounge</label><br>
    </li>
    <li> Another place: <input type="text" name="place"></li>

    <li> An adjective: <input type="text" name="adj"></li>
    <input type="submit" value="Play">
    <ul>
    </form>
</body>
</html>
