<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>

<h1>Let's play a game!</h1>
<form action="/madlib">
<ul>
    <li>A person's name: <input type="text" name="person"></li>
    <li>A color: 
        <select name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option> </option>
        </select>
    </li>
    <li>
        A noun: <input type="text" name="noun">
    </li>
    <li> An adjective: <input type="text" name="adj"></li>
    <input type="submit" value="Play">
    <ul>
    </form>
</body>
</html>
